<ul>
    <li *ngFor="let food of foods">
        <a href="#">
            <img src="{{food.imageUrl}}" alt="x">
            <div class="content">
                <div class="name">
                    {{food.name}}
                </div>
                <!-- <span class="favorite" {{food.favorite ? '': 'not'}}>
                    ❤
                </span> -->
                <!-- <div>
                    <ngx-star-rating []="food.stars" [id]="'rating'" [disabled]="true"></ngx-star-rating>
                </div> -->
                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of food.origins">
                            {{origin}}
                        </span>
                    </div>
                    <div class="cook-time">
                        <span>
                            🕒
                        </span>
                        {{food.cookTime}}
                    </div>
                    <div class="price">
                        <span>
                            {{food.price | currency}}
                        </span>
                    </div>
                </div>
                
            </div>
        </a>
    </li>
</ul>
