<app-search></app-search>
<app-tags></app-tags>
<ul>
    <li *ngFor="let food of foods">
        <a href="#">
            <img src="{{food.imageUrl}}" alt="x">
            <div class="content">
                <div class="name">
                    {{food.name}}
                </div>
                <span class="favorite {{food.favorite ? '': 'not'}}">
                    ❤
                </span>
                
                <!-- <ngx-star-rating [id]="'rating'" [disabled]="false"></ngx-star-rating> -->
                <!-- <ngx-star-rating formControlName="rating" [id]="'rating'" [disabled]="false"></ngx-star-rating> -->

                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of food.origins">
                            {{origin}}
                        </span>
                    </div>
                    <div class="cook-time">
                        <span>
                            🕒
                        </span>
                        {{food.cookTime}}
                    </div>
                </div>
                <div class="price">
                    <span>
                        {{food.price | currency}}
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>
